In [4]:
import numpy as np
import pandas as pd

In [5]:
my_series = pd.Series([1,2,3,4], index=('a','b','c','d'))

In [6]:
my_series

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
df = pd.read_csv('ml.csv', sep=',')

In [10]:
df.head(10)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919.0,32.10000,71.80000,"(32.100000, 71.800000)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949.0,44.83333,95.16667,"(44.833330, 95.166670)"
7,Agen,392,Valid,H5,30000.0,Fell,1814.0,44.21667,0.61667,"(44.216670, 0.616670)"
8,Aguada,398,Valid,L6,1620.0,Fell,1930.0,-31.60000,-65.23333,"(-31.600000, -65.233330)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920.0,-30.86667,-64.55000,"(-30.866670, -64.550000)"

In [11]:
df.shape

(45716, 10)

In [13]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [16]:
#df.head(100)

In [17]:
pd.set_option('precision', 3) # точность вывода цифр

In [18]:
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass', 'fall', 'year', 'reclat',
       'reclong', 'GeoLocation'],
      dtype='object')

In [20]:
df.describe(include=['object'])

                          name nametype recclass   fall           GeoLocation
count                    45716    45716    45716  45716                 38401
unique                   45716        2      466      2                 17100
top     Grove Mountains 024009    Valid       L6  Found  (0.000000, 0.000000)
freq                         1    45641     8285  44609                  6214

In [23]:
df.recclass.value_counts()[:5] # 5 самых частовстречаемых

L6    8285
H5    7142
L5    4796
H6    4528
H4    4211
Name: recclass, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null object
mass           45585 non-null float64
fall           45716 non-null object
year           45428 non-null float64
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [37]:
for dtype in ['float', 'int', 'object']:
    selected_dtype = df.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print('Average memory usage for {} columns: {:03.2f} MB'.format(dtype, mean_usage_mb))

Average memory usage for float columns: 0.28 MB
Average memory usage for int columns: 0.00 MB
Average memory usage for object columns: 2.41 MB

In [38]:
df['mass'] = df['mass'].astype('float32')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null object
mass           45585 non-null float32
fall           45716 non-null object
year           45428 non-null float64
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: float32(1), float64(3), int64(1), object(5)
memory usage: 3.3+ MB

In [40]:
[(col, df[col].nunique())for col in df.columns]

[('name', 45716),
 ('id', 45716),
 ('nametype', 2),
 ('recclass', 466),
 ('mass', 12576),
 ('fall', 2),
 ('year', 268),
 ('reclat', 12738),
 ('reclong', 14640),
 ('GeoLocation', 17100)]

In [48]:
df_with_cat = df.copy()

In [49]:
df_with_cat.recclass = df_with_cat.recclass.astype('category')

In [50]:
df_with_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null category
mass           45585 non-null float32
fall           45716 non-null object
year           45428 non-null float64
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: category(1), float32(1), float64(3), int64(1), object(4)
memory usage: 3.1+ MB

In [51]:
# Замена значений в колонке
d = {'Found' : 1, 'Fell' : 0}
df['status'] = df['fall'].map(d)
df.tail(2)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,status
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.789,41.505,"(49.789170, 41.504600)",1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.983,-115.683,"(33.983330, -115.683330)",1